/* Border Image
   Example: border-image("border.png", 100%, 1, 0, stretch) */

border-image(source, slice, width, outset, repeat)
  border-image-source: url(source)
  border-image-slice: slice
  border-image-width: width
  border-image-outset: outset
  border-image-repeat: repeat
  -webkit-border-image: url(source) slice width outset repeat
  -moz-border-image: url(source) slice width outset repeat
  -ms-border-image: url(source) slice width outset repeat
  -o-border-image: url(source) slice width outset repeat
