/* Border
   Usage shorthand: border(1px solid #000)
   Usage longhand: border-all(1px, solid, #000) */

/* Border shorthand version */
border(n)
  border n

// Border longhand version
border-all(width, style, color)
  border-width: width
  border-style: style
  border-color: color
